<!--<p *ngFor="let content of listContents">
    {{ content.name }}
</p>-->
<h1>Page de mes fiches de contenus</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Name</th>
            <th>releasedate</th>
            <th>duration</th>
            <th>picturelink</th>
            <th>rate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>